<section class="p-5 pb-64 pt-20 bg-secondary flex flex-col mx-auto">
  <span
    class="text-7xl font-black text-lightblack tracking-tighter flex justify-center mb-10"
    >Oops!</span
  >
  <span
    class="text-3xl font-black text-black flex justify-center tracking-tighter mb-3"
    >404</span
  >
  <span
    class="text-3xl font-black text-black flex justify-center tracking-tighter mb-10"
    >Page not Found</span
  >

  <span class="text-xl text-gray-900 text-center tracking-tighter mb-5">
    The page you are looking for might have been removed.
  </span>

  <span class="text-xl text-gray-900 text-center tracking-tighter">
    Had it's name changed or is temporarily unavailable.
  </span>

  <div class="flex justify-center">
    <button
      routerLink=""
      type="button"
      class="text-white max-w-xl bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-5 py-5 text-center me-2 mb-2 my-20"
    >
      GO TO HOMEPAGE
    </button>
  </div>
</section>
