<article>
  <div *ngIf="hostVans$ | async as van" class="">
    <div *ngIf="van.isLoading" class="text-center mt-10">
      <div role="status">
        <svg
          aria-hidden="true"
          class="inline w-10 h-10 text-gray-200 animate-spin fill-cta"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div
      *ngIf="!van.isLoading"
      class="max-w-lg bg-secondary rounded-lg flex flex-col"
    >
      <div *ngFor="let van of van.result" class="mb-10">
        <img
          class="rounded-t-xl shadow-black shadow-md"
          [src]="van.imageUrl"
          [alt]="van.name"
        />
        <div class="p-5 bg-primary shadow-black shadow-md rounded-b-xl">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            {{ van.name }}
          </h5>

          <p class="mb-3 text-xl font-normal text-lightblack">
            ${{ van.price
            }}<span class="text-sm font-light text-lightblack">/day</span>
          </p>
          <button
            (click)="toggleModal(modal, van)"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-cta rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300"
          >
            Edit Van
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- EDIT VAN MODAL -->

<div
  #modal
  id="modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow">
      <!-- Modal header -->
      <div class="flex items-start justify-between rounded-t border-b p-5">
        <h3 class="text-xl font-semibold text-gray-900">Edit Van</h3>
        <button
          (click)="toggleModal(modal)"
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="space-y-6 p-6">
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="editVanForm"
          class="p-4 md:p-5"
        >
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
              <!-- INVALID LABEL -->
              <span
                class="block mb-2 text-lg font-medium text-red-500"
                *ngIf="
                  name?.invalid && (name?.dirty || name?.touched || isSubmitted)
                "
                for="name"
              >
                Invalid Name
              </span>
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Name</label
              >

              <input
                type="text"
                formControlName="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Type van's name"
              />
            </div>
            <div class="col-span-2 sm:col-span-1 md:col-span-2">
              <span
                class="block mb-2 text-lg font-medium text-red-500"
                *ngIf="
                  price?.invalid &&
                  (price?.dirty || price?.touched || isSubmitted)
                "
                for="price"
              >
                Invalid Price
              </span>
              <label
                for="price"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Price</label
              >
              <input
                type="number"
                formControlName="price"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Type van's Price"
              />
            </div>

            <div class="col-span-2">
              <span
                class="block mb-2 text-lg font-medium text-red-500"
                *ngIf="
                  description?.invalid &&
                  (description?.dirty || description?.touched || isSubmitted)
                "
                for="description"
              >
                Invalid Description
              </span>
              <label
                for="description"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Description</label
              >
              <textarea
                id="description"
                formControlName="description"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write van description here"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center space-x-2 rtl:space-x-reverse rounded-b border-t border-gray-200 p-6"
      >
        <button
          [disabled]="updateError || updateError"
          (click)="onSubmit()"
          type="button"
          class="rounded-lg bg-cta px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300"
        >
          Confirm
        </button>
        <button
          (click)="toggleModal(modal)"
          type="button"
          class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300"
        >
          Cancel
        </button>
      </div>
    </div>

    <!-- ALERT -->

    <!-- SUCCESS -->
    <div
      [ngClass]="wasUpdated ? 'block' : 'hidden'"
      class="flex items-center p-4 mb-4 mt-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div><span class="font-medium">Success!</span> Your van was updated!</div>
    </div>

    <!-- ERROR -->

    <div
      [ngClass]="updateError ? 'block' : 'hidden'"
      class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div><span class="font-medium">Error alert!</span> Please try again.</div>
    </div>
  </div>
</div>
