<section class="bg-secondary p-5 md:py-20 lg:flex lg:justify-center">
  <div *ngIf="vanDetails$ | async as van" class="">
    <!-- LOADING STATE -->
    <div *ngIf="van.isLoading" class="text-center">
      <div role="status">
        <svg
          aria-hidden="true"
          class="inline w-48 h-48 my-52 text-gray-200 animate-spin fill-cta"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="!van.isLoading" class="">
      <!-- GO BACK BUTTON -->
      <div class="mb-5">
        <button
          (click)="goBack()"
          type="button"
          class="text-lightblack bg-cta hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-lg text-base px-5 py-2.5 text-center inline-flex items-center"
        >
          <svg
            class="w-6 h-6 mr-5 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            ></path>
          </svg>
          Go Back
        </button>
      </div>

      <!-- VAN DETAILS -->

      <div class="p-5 flex flex-col md:flex-row">
        <img
          class="h-auto max-w-lg rounded-lg shadow-black shadow-xl mb-10"
          [src]="van.result?.imageUrl"
          [alt]="van.result?.name"
        />

        <!-- BUTTON TYPES -->

        <div class="md:ml-5 md:flex md:flex-col md:gap-5">
          <!-- SIMPLE BUTTON -->

          <button
            *ngIf="van.result?.type === 'simple'"
            type="button"
            class="focus:outline-none max-w-xs text-orange-600 font-black bg-orange-200 hover:bg-orange-500 focus:ring-4 focus:ring-orange-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
          >
            {{ van.result?.type | capitalize }}
          </button>

          <!-- RUGGED BUTTON -->
          <button
            *ngIf="van.result?.type === 'rugged'"
            type="button"
            class="focus:outline-none max-w-xs text-green-500 font-black bg-green-200 hover:bg-green-700 focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
          >
            {{ van.result?.type | capitalize }}
          </button>

          <!-- LUXURY BUTTON -->
          <button
            *ngIf="van.result?.type === 'luxury'"
            type="button"
            class="focus:outline-none max-w-xs text-white font-black bg-lightblack hover:bg-black focus:ring-4 focus:ring-lightblack rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
          >
            {{ van.result?.type | capitalize }}
          </button>

          <div class="flex flex-row items-baseline mb-5">
            <span class="text-4xl font-black text-lightblack"
              >${{ van.result?.price }}</span
            >
            <span class="flex justify-end text-xs font-black text-lightblack"
              >/day</span
            >
          </div>

          <h5 class="text-lightblack font-black text-4xl mb-5">
            {{ van.result?.name | capitalize }}
          </h5>

          <h5 class="text-lightblack font-bold text-lg max-w-lg mb-5">
            {{ van.result?.description }}
          </h5>

          <button
            *ngIf="!van.result?.isRented"
            (click)="rentVan(van.result)"
            class="focus:outline-none text-white font-extrabold bg-cta hover:bg-orange-600 focus:ring-4 focus:ring-cta rounded-lg text-lg px-5 py-2.5 me-2 mb-2"
          >
            Rent this van
          </button>

          <button
            *ngIf="van.result?.isRented"
            [disabled]="van.result?.isRented"
            class="focus:outline-none bg-opacity-40 text-white font-extrabold bg-cta hover:bg-orange-600 focus:ring-4 focus:ring-cta rounded-lg text-lg px-5 py-2.5 me-2 mb-2"
          >
            Unavailable
          </button>

          <!-- ALERTS -->

          <div
            [ngClass]="isRented ? 'block' : 'hidden'"
            class="flex items-center p-4 mb-4 mt-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert"
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Success!</span> You rented this van!
            </div>
          </div>

          <!-- ERROR -->

          <div
            [ngClass]="backendError ? 'block' : 'hidden'"
            class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error alert!</span> {{ errorMessage }}.
            </div>
          </div>

          <div *ngIf="isLoading" class="text-center">
            <div role="status">
              <svg
                aria-hidden="true"
                class="inline w-16 h-16 text-gray-200 animate-spin fill-cta"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
