<main>
  <!-- NAVIGATION BAR -->

  <nav class="bg-primary border-gray-200">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span
          class="self-center text-2xl font-black whitespace-nowrap dark:text-white"
          >#VANLIFE</span
        >
      </a>
      <button
        (click)="collapseNav(navbar)"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div #navbar class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col gap-2 p-4 md:p-0 mt-4 rounded-lg bg-primary md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-primary"
        >
          <li>
            <a
              (click)="collapseNav(navbar)"
              routerLink=""
              [routerLinkActive]="activeRouteClass"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 font-semibold text-lightblack rounded md:px-4 md:py-2 md:text-lightblack md:p-0 hover:underline-offset-4 hover:underline"
              >Home</a
            >
          </li>
          <li>
            <a
              (click)="collapseNav(navbar)"
              routerLink="about"
              [routerLinkActive]="activeRouteClass"
              [routerLinkActiveOptions]="{ exact: true }"
              href="#"
              class="block py-2 px-3 font-semibold text-lightblack rounded md:px-4 md:py-2 md:text-lightblack md:p-0 hover:underline-offset-4 hover:underline"
              >About</a
            >
          </li>
          <li>
            <a
              (click)="collapseNav(navbar)"
              routerLink="vans"
              [routerLinkActive]="activeRouteClass"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 font-semibold text-lightblack rounded md:px-4 md:py-2 md:text-lightblack md:p-0 hover:underline-offset-4 hover:underline"
              >Vans</a
            >
          </li>

          <!-- IF USER.TYPE === "HOST" -->

          <li></li>

          <li>
            <!-- NOT SIGNED IN BUTTON -->

            <button
              *ngIf="!checkUserLogin()"
              (click)="collapseNav(navbar)"
              routerLink="signin"
              [routerLinkActive]="activeRouteClass"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Sign in
            </button>

            <!--  SIGNED IN BUTTON -->

            <button
              *ngIf="checkUserLogin()"
              (click)="collapseNav(navbar)"
              routerLink="profile/dashboard"
              [routerLinkActive]="activeRouteClass"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              My profile
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ACTIVE ROUTE -->

  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="bg-lightblack">
    <div
      class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center"
    >
      <span class="text-sm text-center text-gray-300 sm:text-center"
        >© 2023
        <a
          target="_blank"
          href="https://github.com/RuannJS"
          class="hover:underline"
          >#VANLIFE</a
        >. All Rights Reserved.
      </span>
    </div>
  </footer>
</main>
