<section
  class="bg-center bg-no-repeat bg-[url('https://i.imgur.com/5gjxdbi.jpg')] bg-gray-700 bg-blend-multiply"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 pb-96 lg:py-56">
    <h1
      class="mb-4 text-6xl font-extrabold tracking-tight leading-none text-white md:text-7xl lg:text-8xl"
    >
      You got the travel plans, we got the travel vans
    </h1>
    <p
      class="mb-8 mt-20 text-xl font-normal text-gray-300 lg:text-2xl sm:px-16 lg:px-48"
    >
      Add adventure to your life by joining the #vanlife movement. Rent the
      perfect van to make your perfect road trip.
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        routerLink="vans"
        class="inline-flex justify-center items-center py-3 px-5 text-xl font-black text-center text-white rounded-lg bg-cta hover:bg-orange-500 focus:ring-4 focus:ring-orange-300"
      >
        Find your van
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
